@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+NG+Modern:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%
}
.wrapper{
    width: 400px;
    background: transparent;
    border-radius: 10px;
    padding : 50px 30px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.wrapper h1{
    font-family: 'Playwrite NG Modern', sans-serif;
    font-size: 45px;
    text-align: center;
}
.wrapper .input{
    position: relative;
    width: 100%;
    height: 60px;
    margin: 30px 0;
    font-size: 16px;
    
}
.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 45px;
    padding: 0 60px 0 20px;
}
.input input:focus{
    border: 2px solid #f441a5;
}
.input input:hover{
    border: 2px solid #f441a5;
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.3s;
}
.input input::placeholder{
    color: #cdcdcd;
}
.input i{
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    right: 20px;
    top: 51%;
    transform: translateY(-50%);
}
.wrapper .remember{
    display: flex;
    margin : 0 0 20px 10px
}
.wrapper .remember input{
    margin : 0 8px 0 0;
    width : 12px;
    height : 12px;
}
.wrapper .sub{
    width : 60%;
    height : 50px;
    background : #f4adeb;
    border-radius : 45px;
    border : none;
    outline : none;
    color : #000000;
    font-size : 16px;
    font-weight: bold;
    cursor : pointer;
}
.wrapper .btn-lg{
    display: flex;
    justify-content: center;
}
.sub:hover{
    background: #ffffff;
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.3s;
}